/* GENERAL */
/* NOTE: dare padding superiore o inferiore a un container lo fa strabordare in width */

* {
  color: #5c6a88;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  color: #031c4e;
  font-weight: bold;
}

.text-white {
  color: #ffffff;
}

.text-light-gray {
  color: #6f7b97;
}

.text-blue {
  color: #006aff;
}

.text-purple {
  color: #142b58;
}

.weight-bold {
  font-weight: bold;
}

.font-18 {
  font-size: 18px;
}

/* NAVBAR */

.navbar.navbar-default {
  background-color: #ffffff;
}

.collapse.navbar-collapse ul li a {
  color: #142b58;
}

.my-navbar-padding {
  padding-left: 80px;
}

.navbar-brand img {
  width: 150px;
  height: auto;
}

.glyphicon.glyphicon-menu-down, .glyphicon.glyphicon-menu-right {
  font-size: 10px;
  top: 0; /* NOTE: .glyphicon nella navbar ha position relative e top:1px di default */
  bottom: 1px;
}

.my-white-blue-button {
  background-color: #ffffff;
  color: #2285fd;
  border: 1px solid #2285fd;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 8px;
}

.navbar-default .navbar-toggle {
  border-color: #2285fd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2285fd;
}

@media all and (max-width: 991px) {

  .navbar-header {
    width: 100%;
  }

  .navbar-toggle {
    display: inline-block;
  }

  .navbar-nav {
    display: none;
    margin: 0;
  }

  .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: 0;
  }
}

/* JUMBOTRON */

.jumbotron {
  background-image: url(../assets/jumbo-ocean.svg);
  background-repeat: repeat;
  color: #ffffff;
  margin: 50px 0 0 0;
}

.jumbotron h1, .jumbotron-p {
  color: #ffffff;
}

.card-jumbotron {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.card-jumbotron h2 {
  margin: 10px 0;
}

.card-jumbotron .form-control {
  margin: 10px 0;
}

.my-blue-button {
  width: 100%;
  background-color: #579aff;
  color: #ffffff;
  font-weight: bold;
}

.my-google-button {
  width: 100%;
  background-color: #ffffff;
  color: #626262;
  margin: 10px 0;
  font-weight: bold;
}

.google-icon {
  width: 20px;
  height: auto;
  float: left;
}

.card-jumbotron .card-p {
  font-size: 14px;
}

/* MAIN 1 */

.bg-light-gray {
  background-color: #f3f5f9;
}

[class^=main1-logos-] {
  margin: 0 -10px;
}

[class^=main1-logos-] img {
  height: 80px;
  width: 100%;
}

.main1 h4 {
  padding: 50px 0;
}

.main1 h4 .glyphicon-menu-right {
  font-size: 12px;
}

/* MAIN2 */

.main2 {
  position: relative;
  padding-bottom: 50px;
}

.main2-title {
  margin: 50px 0;
}

/* navbar per i formati sm, md e lg */
.main2-nav {
  position: absolute;
  top: 30%;
  left: 5%;
}

.main2-nav ul li a {
  display: block;
  border-left: 1px solid;
  color: #75809a;
  border-color: #75809a;
  font-size: 20px;
  padding: 10px 5px;
}

.main2-nav ul li {
  list-style: none;
  margin-top: 60px;
}

.main2-card {
  padding: 10px;
  box-sizing: border-box;
}

/* navbar hidden per il formato xs */
#xs-navbar-hidden {
  display: none;
}

#xs-navbar-hidden ul {
  padding: 0;
}

#xs-navbar-hidden ul li {
  list-style: none;
  margin-top: 50px;
}

#xs-navbar-hidden ul li a {
  display: block;
  border-left: 1px solid;
  color: #75809a;
  border-color: #75809a;
  font-size: 20px;
  padding: 10px 5px;
}

@media all and (max-width: 767px) {

  #xs-navbar-hidden {
    display: block;
  }

  .main2-nav {
    display: none;
  }
}

/* MAIN3 */

.main3 {
  padding-bottom: 50px;
}

.main3 h1 {
  margin-bottom: 20px;
}

.main3-title {
  margin: 50px 0;
}

.main3-card img {
  width: 40%;
  height: auto;
  margin: 20px;
}

.main3-dots i {
  color: #006aff;
  padding: 0 2px;
}

.fa-angle-left, .fa-angle-right {
  font-size: 40px;
}

.fa-angle-right {
  color: #031c4e;
}

@media all and (max-width: 991px) {

  .main3-dots {
    display: block;
    margin-top: 100px;
  }
}

@media all and (max-width: 767px) {

  .fa-angle-left, .fa-angle-right {
    display: none;
  }
}

/* MAIN4 */

.main4 {
  padding-bottom: 50px;
}

.main4-title {
  margin: 60px 0 30px 0;
}

.main4 img {
  margin: 20px 0 10px 0;
}

/* MAIN5 */

.main5 {
  background-color: #0039b7;
  padding-bottom: 50px;
}

.main5-title h1 {
  color: #ffffff;
  padding-top: 50px;
}

.table-cell {
  border-bottom: 1px solid #ffffff;
  margin: 5px;
}

.table-cell p {
  color: #ffffff;
}

.text-blue-main5 {
  color: #00d7d2;
}

.last-table-cell {
  border-bottom: none;
  padding-bottom: 20px;
}

.last-table-cell-sm {
  border-bottom: none;
  padding-bottom: 20px;
}

@media all and (max-width: 991px) {

  .last-table-cell-sm {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0;
  }
}

@media all and (max-width: 768px) {

  .last-table-cell-xs {
    border-bottom: none;
    padding-bottom: 20px;
  }
}

/* MAIN6 */

.main6 {
  padding: 50px 0;
}

.main6-card-content {
  border-radius: 10px;
}

.main6-card-content img {
  border-radius: 10px;
  width: 40%;
  height: auto;
  margin: 70px 10px 30px 10px;
}

/* FOOTER1 */

.footer1 {
  background-color: #0039b2;
  padding: 50px 0;
}

.footer1 h1 {
  color: #ffffff;
}

.footer1-button {
  /* padding: 10px; */
}

/* FOOTER2 */

.footer2 {
  background-color: #031c4e;
  padding: 50px 0;
  position: relative;
}

.footer2-info img {
  margin: 10px 0;
}

.footer2-info .company-info {
  display: block;
  color: #8690a6;
}

.footer2-info ul {
  padding: 0;
}

.footer2-info ul li {
  list-style: none;
  display: inline-block;
}

.footer2-info ul li i {
  font-size: 24px;
  padding: 10px 5px 0 0;
}

.footer2-card {
  padding-top: 25px;
}

.footer2 h4 {
  color: #ffffff;
}

.footer2-list ul {
  padding: 0;
}

.footer2-list ul li {
  list-style: none;
  color: #a3abbb;
}

/* BAR FIXED BOTTOM */

.shark-fixed {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.shark-image {
  float: right;
  position: relative;
}

.shark-image img {
  display: inline-block;
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.bubble-speech {
  float: right;
  position: relative;
  right: 25px;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.bubble-speech span {  
  color: #031c4e;
}

.bubble-point {
  position: absolute;
  bottom: 15%;
  right: -2%;
  transform: rotate(45deg);
  background-color: #ffffff;
  height: 20px;
  width: 20px;
}

.footer2-round-white {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.footer2-round-red {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-10%, 10%);
  background-color: #ff0000;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

@media all and (max-width: 991px) {

 .shark-image {
   float: left;
   top: -70px;
 }

 .bubble-speech {
   float: left;
   left: -100px;
 }
}
