/* GENERAL */

* {
  color: #848fa5;
}

h1, h2, h3, h4, h5, h6 {
  color: #142b58;
}
.text-light-gray {
  color: #6f7b97;
}

.text-blue {
  color: #006aff;
}

.text-purple {
  color: #142b58;
}

/* NAVBAR */

.navbar.navbar-default {
  background-color: #ffffff;
}

.collapse.navbar-collapse ul li a {
  color: #142b58;
}

.my-navbar-padding {
  padding-left: 80px;
}

.navbar-brand img {
  width: 150px;
  height: auto;
}

.glyphicon.glyphicon-menu-down {
  font-size: 10px;
  top: 0; /* NOTE: .glyphicon ha position relative e top:1px di default */
  bottom: 1px;
}

.my-white-blue-button {
  background-color: #ffffff;
  color: #2285fd;
  border: 1px solid #2285fd;
  border-radius: 5px;
  margin-top: 8px;
}

.navbar-default .navbar-toggle {
  border-color: #2285fd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2285fd;
}

@media all and (max-width: 991px) {

  .navbar-header {
    width: 100%;
  }

  .navbar-toggle {
    display: inline-block;
  }

  .navbar-nav {
    display: none;
    margin: 0;
  }

  .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: 0;
  }
}

/* JUMBOTRON */

.jumbotron {
  background-image: url(../assets/jumbo-ocean.svg);
  background-repeat: repeat;
  color: #ffffff;
  margin: 50px 0 0 0;
}

.jumbotron h1, .jumbotron-p {
  color: #ffffff;
}

.card-jumbotron {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.card-jumbotron h2 {
  margin: 10px 0;
  font-weight: bold;
}

.card-jumbotron .form-control {
  margin: 10px 0;
}

.my-blue-button {
  width: 100%;
  background-color: #579aff;
  color: #ffffff;
  font-weight: bold;
}

.my-google-button {
  width: 100%;
  background-color: #ffffff;
  color: #626262;
  margin: 10px 0;
  font-weight: bold;
}

.google-icon {
  width: 20px;
  height: auto;
  float: left;
}

.card-jumbotron .card-p {
  font-size: 14px;
}

/* MAIN 1 */

.bg-light-gray {
  background-color: #f3f5f9;
}

[class^=main1-logos-] {
  margin: 0 -10px;
}

[class^=main1-logos-] img {
  height: 80px;
  width: 100%;
}

.main1 h4 {
  padding: 50px 0;
  font-weight: bold;
}

.main1 h4 .glyphicon-menu-right {
  font-size: 12px;
}
